@if (Request.IsAuthenticated) {
    <text>
        
        @Profile.GetPropertyValue("LastName"),  @Profile.GetPropertyValue("FirstName")
       


        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} 