<div class="alphabet">
    <ul style="list-style-type: none;">

        @foreach (char alphabet in "ABCDEFGHIJKLMNÑOPQRSTUVWXYZ")
        {
            <li style="border: 1px solid #f5f5f5; float: left; margin: 2px; padding: 6px 8px;"><a id=@alphabet >@alphabet</a> </li>
        }
    </ul>
</div>