
<div class="alphabet">
    <ul style="list-style-type: none;">
       
        @foreach (var alphabet in "ABCDEFGHIJKLMNÑOPQRSTUVWXYZ")
        {
            <li style="margin: 2px;  border: 1px solid #f5f5f5; padding: 6px 8px; float: left;"><a id=@alphabet >@alphabet</a> </li>
        }
      
    </ul>
</div>



