@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="buy">
    <table>
        <tr>
            <td>
                <div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-header">
                        Buy test
                    </div>
                    <div class="modal-body">
                        <p>
                        </p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </td>
            <td>
                <div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="false">
                    <div class="modal-header">
                        Buy test
                    </div>
                    <div class="modal-body">
                        <p>
                        </p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
