@model Exchange.Core.Entities.Customer
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('#CustomerTable').jtable({
            title: '',
            paging: true,
            pageSize: 15,
            sorting: false,
            gotoPageArea: 'none',
            pageSizeChangeArea: false,
            actions: {
                listAction: '@Url.Action("CustomerListWithPaging")'
            },
            fields: {
                Id: {
                    key: true,
                    list: false
                },
                View: {
                    title: '',
                    width: '1.3%',
                    display: function (data) {
                        var $img = '<a href=@Url.Action("Item")/' + data.record.Id + '><i class="icon-list"></i></a>';
                        return $img;
                    }
                },
                LastName: {
                    title: 'LastName'

                },
                FirstName: {
                    title: 'FirstName'

                },
                MiddleName: {
                    title: 'MiddleName'
                },
                CellphoneNo: {
                    title: 'CellphoneNo'
                }
            },

            toolbar: {
                items: [

                    ]
            }

        });
        //load table
        $('#modal').modal('show').delay(100000);
        $('#modal').bind('hidden', function () {
            $('#CustomerTable').jtable('load');
        }).modal('hide');
        //with filtering

        //Re-load records when user click 'load records' button.
        $('#btnSearch').click(function (e) {
            e.preventDefault();
            var searhString = $('#searchString').val();
            $('#CustomerTable').jtable('load', {
                searchString: searhString
            });
        });

        //Load all records when page is first shown
        $('#btnSearch').click();

    });
   
</script>
@using (Html.BeginForm())
{ 
   
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search here..." autocomplete="off"
                    name="searchString" id="searchString">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit" id="btnSearch">
                        Search</button>
                </span>
            </div>
        </div>
    </div>
   
}
<div class="table-wrapper">
    <div id="CustomerTable">
    </div>
</div>
